<div id="main" class="securityconfig-main">
  <div class="palm-page-header">
    <div class="header-text">
       <span x-mojo-loc=''>Non-Obvious Keys</span>
    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title">
      <span style="float:right;padding-right: 15px;">On Pre</span>
      <span>Desired</span>
    </div>
    <div class="palm-list">
    
      <div class="palm-row first">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + .</div>
		  <div class="title">Delete</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 0</div>
		  <div class="title">Insert</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 1</div>
		  <div class="title">Home</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 2</div>
		  <div class="title">Up</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 3</div>
		  <div class="title">PgUp</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 4</div>
		  <div class="title">Left</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 6</div>
		  <div class="title">Right</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 7</div>
		  <div class="title">End</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 8</div>
		  <div class="title">Down</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Gesture + 9</div>
		  <div class="title">PgDn</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Sym</div>
		  <div class="title">Control</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Orange + Space</div>
		  <div class="title">Esc</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Orange + .</div>
		  <div class="title">Pipe</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Sym + <span style="text-transform:lowercase;">i</span></div>
		  <div class="title">Tab</div>
        </div>
      </div>
	  
      <div class="palm-row">
        <div class="palm-row-wrapper">
		  <div class="label">Shift + ,</div>
		  <div class="title">&lt;</div>
        </div>
      </div>
	  
      <div class="palm-row last">
        <div class="palm-row-wrapper">
		  <div class="label">Shift + .</div>
		  <div class="title">&gt;</div>
        </div>
      </div>
	  
    </div>
  </div>

</div>

