<div id="main" class="securityconfig-main">
  <div class="palm-page-header">
    <div class="header-text">
       <span x-mojo-loc=''>Preferences</span>
    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title">
      <span x-mojo-loc=''>Font</span>
    </div>
    <div class="palm-list">
      <div id='screentimerrow' class="palm-row last">
        <div id='timeroptions' class="palm-row-wrapper">
          <div id="fontSelector" x-mojo-element="ListSelector" class="swap-text"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">        
    <div class="palm-group-title">   
      <span x-mojo-loc=''>Colors</span>
    </div>

    <div class="palm-list">                          
      <div id='fgColorRow' class="palm-row last">   
        <div id='fgColoroptions' class="palm-row-wrapper">                               
          <div id="fgColorSelector" x-mojo-element="ListSelector" class="swap-text"></div>
        </div>
      </div>
    </div>

    <div class="palm-list">                          
      <div id='bgColorRow' class="palm-row last">   
        <div id='bgColoroptions' class="palm-row-wrapper">                               
          <div id="bgColorSelector" x-mojo-element="ListSelector" class="swap-text"></div>
        </div>
      </div>
    </div>

  </div>

</div>

